@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&display=swap");

body {
  font-family: "Asap", "Commissioner", Arial, sans-serif;
}

div {
  background-color: #f4f7fb;
  color: #1f2937;
  font-size: 18px;
}
