<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Movie watchlist</h1>
    <div>
      <a href="/list">View Watchlist</a>
      <a href="/save_to_list">Save a Movie</a>
    </div>
  </body>
</html>
